<!DOCTYPE HTML>
<html>
{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
  <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'>

  <title>Leaderboard</title>
</head>

<body>
  <div class="center-div title">Leaderboard</div>
  {% for player in players%}
    <div class="center-div game-data">{{player.name}}: {{player.score}}</div>
  {% endfor %}

  <div class="center-div">  
    <span><a class="center-div" href="/score">&rArr;Score</a></span>
    <span><a class="center-div" href="/scoreboard">&rArr;Scoreboard</a></span>
  </div>
</body>

</html>
