<!DOCTYPE HTML>
<html>
{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
  <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'>

  <title>Scoreboard</title>
</head>

<body>
  <div class="center-div title">Scoreboard</div>
  <!-- Django template tag -->
  {% for game in games%}
    <div class="center-div game-data">{{game.name_player_1}} vs. {{game.name_player_2}}: {{game.score_player_1}}:{{game.score_player_2}} <span class="game-id">{{game.uid}} {{game.created}} (UTC)</span></div>
  {% endfor %}

  <div class="center-div">  
    <span><a class="center-div" href="/score">&rArr;Score</a></span>
    <span><a class="center-div" href="/leaderboard">&rArr;Leaderboard</a></span>
  </div>
</body>

</html>
