[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
dj-database-url = "==0.5.0"
gunicorn = "==19.9.0"
"psycopg2" = "==2.7.5"
whitenoise = "==3.3.1"
Django = "==2.0"
"django-bootstrap3" = "*"
paho-mqtt = "*"

[requires]
python_version = "3.6"
